# Wails build
/build/bin/
/bin/

# frontend
/frontend/node_modules/
/frontend/dist/
/frontend/bindings/

# Go
*.exe
*.test
*.out

# editors and system
.idea/
.vscode/
.DS_Store
Thumbs.db
desktop.ini

# Wails task runner
/.task/

# test end-to-end
/frontend/test-results/
/frontend/playwright-report/
